/* Select all spans that are immediate children of buttons */
button > span {
    font-size: 2.5rem;
}
.btn{
    width: 22%;
}
#button-clear{
    width: 50% !important;
}

.container{
    margin: auto;
    width: 80%;
}
.errorMsg{
    color: red;
    font-size: 30px;
    text-align: center;
}

body{
    background-color: #83AF83;
}

.jumbotron{
    background-color: #A39393;
    color: white;
}

.calcBody{
    background-color: #A39393;
    color: white;
}
/* #first-number
#second-number
{
    background-color: white;
    opacity: 50%;
    color: black;
} */


#first-number,
#second-number,
#operator, 
#result{
    background-color: black;
    opacity: 50%;
    color: white;
}

#eq{
margin-right: 5px;
}
/* 
#screen{

} */