/* Select all spans that are immediate children of buttons */
button > span {
    font-size: 2.5rem;
}
.btn{
    width: 22%;
}
#button-clear{
    width: 50% !important;
}

.container{
    margin: auto;
}
.errorMsg{
    color: red;
    font-size: 30px;
    text-align: center;
}

body{
    background-color: #83AF83;
}

.jumbotron{
    background-color: black;
    color: white;
}

.calcBody{
    background-color: darkgray;
    color: white;
}